html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #cddde4;
  background-image: linear-gradient(160deg, #cddde4 0%, #f3fbfb 100%);
  font-family:Arial, Helvetica, sans-serif;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.main__header {
  color: rgb(24, 58, 37);
  background: #e8f5d7;
  padding: 8px;
  border-radius: 8px;
  margin-top: 5px;
}
.introduction__heading {
  color: #038d25;
}
.introduction__link {
  color: #0461be;
}
.notes {
}
.notes__heading {
  color: #038d25;
}
a {
  color: #01212b;
}
nav a {
  color: rgb(139, 255, 249);
}

.navigation {
  background: #04af12d5;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}
.navigation__link--homepage {
  background: yellow;
  color: #000;
}
.about {
  border: 1px #01212b solid;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  background: #f5fcfc;
}
.about--special {
  padding: 16px;
  border: 1px #9c5353 solid;
  border-radius: 8px;
  margin-bottom: 16px;
  background: #f5fcfc;
}

.about__description {
  color: #01212b;
}
.about__title {
  color: #033970;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}
